
* {
  box-sizing: border-box; }

/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/* Basic styling */
body {
  font-family: "Avenir Next", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #fefef3;
  -webkit-text-size-adjust: 100%; }

/* Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 10px; }

/* Images */
img {
  max-width: 100%;
  vertical-align: middle; }

/* Figures */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/* Lists */
li > ul,
li > ol {
  margin-bottom: 0; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  text-align: center; }

.mega {
  font-size: 100px; }

h1, .h1 {
  font-size: 70px; }

h2, .h2 {
  font-size: 40px; }

h3, .h3 {
  font-size: 30px; }

h4, .h4 {
  font-size: 24px; }

/* Links */
a {
  color: #fe5f55;
  text-decoration: none;
  transition: 0.3s; }
  a:hover {
    color: #6b2339;
    text-decoration: none; }

/* Blockquotes */
blockquote {
  color: #333;
  border-left: 4px solid #999999;
  padding-left: 10px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/* Code formatting */
pre,
code {
  font-size: 15px;
  border: 1px solid #999999;
  border-radius: 3px;
  background-color: #fff; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/* Clearfix */
.wrapper:after, .site-section:after, .post-list:after, .project-list:after {
  content: "";
  display: table;
  clear: both; }

/* Icons */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #333; }

.site-header {
  padding: 2em 0 0;
  background: url("/images/header-bg2.png");
  background-size: 400px 400px;
  border-bottom: 1px solid #ccc;
  text-align: center; }

.site-nav {
  text-align: center; }
  .site-nav ul {
    list-style: none; }
  .site-nav li {
    display: inline-block;
    margin: 0 0.5em;
    font-size: 1.875em; }

.site-title a {
  color: #333; }

.site-section {
  padding-top: 70px; }

.site-section-last {
  padding-bottom: 70px; }

.site-footer {
  padding: 2em 0;
  color: #fff;
  background: #333; }

.footer-content {
  float: left;
  width: 40%;
  font-size: 0.875em; }
  .footer-content h3 {
    text-align: left; }

.footer-social {
  float: right; }
  .footer-social li {
    display: inline-block;
    margin: 0 0.5em; }

.post-list {
  list-style: none; }

.post {
  float: left;
  width: 50%;
  padding: 0 3em 1em; }

.post-tags {
  min-height: 50px;
  text-align: center; }
  .post-tags li {
    display: inline; }

.post-featured {
  float: none;
  margin: 0 auto; }

.post-read-more-link {
  text-align: center; }

.post-header {
  text-align: center; }

.post-title {
  margin: 0; }

.post-meta {
  color: #92b5bd;
  font-size: 24px; }

.post-body {
  width: 90%;
  max-width: 40em;
  margin: 40px auto; }
  .post-body h1, .post-body h2, .post-body h3, .post-body h4 {
    max-width: 80%;
    margin: 40px auto; }

.project-list {
  padding: 0;
  list-style: none; }

.project {
  float: left;
  width: 33.33%;
  padding: 0 1em;
  text-align: center; }

.project-caption {
  margin-top: 0.5em;
  font-size: 30px; }

